body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.cta__contact {
  font-size: 22px;
  animation-duration: 2s;
  animation-name: slidein;

  &__content {
    padding: 12px 10%;
    background-color: rgb(58, 58, 105);
    color: white;
  }

  &:before {
    content: "";
    display: block;
    border-right: 12px solid white;
    border-bottom: 12px solid rgb(58, 58, 105);
    border-left: 12px solid white;
    width: 0px;
    margin-left: 10%;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}

@import "cta/index";
